[submodule "lib_cppunit"]
	path = lib_cppunit
	url = ../modules/lib_cppunit
[submodule "lib_xerces"]
	path = lib_xerces
	url = ../modules/lib_xerces
[submodule "lib_core"]
	path = lib_core
	url = ../modules/lib_core
[submodule "Fibonacci"]
	path = Fibonacci
	url = ../modules/Fibonacci
[submodule "FibonacciTest"]
	path = FibonacciTest
	url = ../modules/FibonacciTest
